@import './global/colors.css';
@import './global/typography.css';

@font-face {
    font-family: 'Goldoni';
    src: url('/fonts/Goldoni.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  #app-root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {
      h1, h2 {
        text-align: center;
      }
    }
  }